:root {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: #ffffff;
	color: #333;
}

* {
	box-sizing: border-box;
}
